.logo{
    width: 15.9375em;
}

.navbar{
    background-color: #fff;
}

.nav-btn{
    padding: 0.625rem 1.875rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.375rem;
    background-color: #f32508;
    box-shadow: none;
    transition: all 400ms ease;
    color: #fff;
    font-size: 0.9375rem;
    line-height: 1.5rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-color: #f32508;
    border: none;
}
.nav-btn:hover{
    background-color: white;
    color: red;
    border: solid;
    
}
.hero{
    background-color: #ff988c33;
}
.hero-img img{
    max-width: 17.8125rem;
    vertical-align: middle;
    display: inline-block;

}

.hero h1{
    font-size: 50px;
    font-weight: bolder;
}

.hero h6{
    font-size: 20px;
    font-weight: 300px;
}

.audit-btn{
    padding: 0.625rem 1.875rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.375rem;
    background-color: #f32508FF;
    box-shadow: none;
    transition: all 400ms ease;
    color: #fff;
    font-size: 0.9375rem;
    line-height: 1.5rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 200px;
}

.audit-btn:hover{
    background-color: whitesmoke;
    color: #f32508;
    border: solid;
}
.contract-btn{
    padding: 0.625rem 1.875rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.375rem;
    background-color: whitesmoke;
    box-shadow: none;
    transition: all 400ms ease;
    color:  #f32508FF;
    font-size: 0.9375rem;
    line-height: 1.5rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-color: #f32508;
    width: 200px;
    margin-left: 20px;
}
.contract-btn:hover{
    background-color: #f32508;
    color: whitesmoke;
    font-size: bold;
}



.fa{
    text-decoration: none;
    color: #f32508;
    font-size: larger;
    border-style: dashed;
    padding: 10px;
    font-size: 70px;
    margin-left: 20px;

}

